.characters-list {
  overflow-y: scroll;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 10px;
}

.message {
  grid-column: 1;
  background-color: red;
}
