<div class="cover full-viewport"></div>
<div #scene class="scene display-grid full-viewport" [ngClass]="{ 'blur': voidScene }">
  <div data-depth="0.02" class="scene__bg-container full-percentage" [ngStyle]="{ 'background-image': backgroundUrl }">
    <div class="scene__bg full-percentage"></div>
  </div>
    <img data-depth="0.05" class="scene__monster" [src]="monsterUrl" alt="" />
    <img data-depth="0.1" class="scene__morty" [src]="mortyUrl" alt="" />
    <img data-depth="0.1" class="scene__rick" [src]="rickUrl" alt="" />
</div>
