@keyframes load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* <LINK-ACTIVE> */

.menu__link {
    border: 2px solid transparent;

    transition-property: border, color;
    transition-duration: .5s;
}

.menu__link--active {
    border: 2px solid var(--secundary);
  }

.menu__link:hover {
    color: var(--secundary);
  }
/* </LINK-ACTIVE> */