/* Firefox */

.characters-list {
  scrollbar-width: thin;
  scrollbar-color: var(--secundary) transparent;
}

/* Chrome, Edge, and Safari */

.characters-list::-webkit-scrollbar {
    width: 5px;
  }
  
  .characters-list::-webkit-scrollbar-thumb {
    background-color: var(--secundary);
    border-radius: 20px;
  }