* {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
a,
ul,
li,
input {
  margin: 0;
  padding: 0;
}

li {

  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--white);
}
