:root {
  --primary: #2596be;
  --secundary: #b3dc2b;
  --dark-blue: #05383d;
  --white: white;
}

body {
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

    font-size: 16px;
}
