/* You can add global styles to this file, and also import other style files */

:root {
    box-sizing: content-box;
}

body, p, h1, h2 {
    margin: 0;
    padding: 0;
}

o-parallax {
    position: absolute;
}
